# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out
/Objects/
/Listings/
/DebugConfig/

# Keil build artifacts
*.o
*.d
*.crf
*.axf
*.hex
*.bin
*.map
*.lnp
*.htm
*.dep
*.lst
*.sct.bak
*.uvguix.*
*.uvoptx.bak
*.bak
*.plg
*.tra
*.iex
*.dbgconf

# eide template
*.ept
*.eide-template

# OS / editor
Thumbs.db
Desktop.ini
.DS_Store
